<div id="archive-list">
	<h4>Archives</h4>
	<ul>
	<% @archive_list.each do |item| -%>
		<li><%= link_to(item[0], :action => 'archive', :year => item[1], :month => item[2]) %></li>
	<% end -%>
	</ul>
</div>