<%= error_messages_for(:comment) %>

<table>
  <tr>
    <td>Your name:</td>
    <td><%= text_field(:comment, :author) %></td>
  </tr>
  <tr>
    <td>Your email:</td>
    <td><%= text_field(:comment, :author_email) %></td>
  </tr>
  <tr>
    <td>Comment:</td>
    <td><%= text_area(:comment, :content, :cols => 60, :rows => 20) %></td>
  </tr>
</table>
